<?xml version="1.0"?>
<config>
    <modules>
        <Pyro_Licenses>
            <version>1.0.0</version>
        </Pyro_Licenses>
    </modules>
 	<global>
        <models>
            <pyro_licenses>
                <class>Pyro_Licenses_Model</class>
                <resourceModel>licenses_resource</resourceModel>
            </pyro_licenses>
            <licenses_resource>
                <class>Pyro_Licenses_Model_Resource</class>
                <entities>
                    <licenses>
                        <table>pyro_licenses</table>
                    </licenses>
                </entities>
            </licenses_resource>
        </models>
        <helpers>
            <pyro_licenses>
                <class>Pyro_Licenses_Helper</class>
            </pyro_licenses>
        </helpers>
        <blocks>
            <pyro_licenses>
                <class>Pyro_Licenses_Block</class>
            </pyro_licenses>
        </blocks>
        <resources>
            <pyro_licenses_setup>
                <setup>
                    <module>Pyro_Licenses</module>
                    <class>Mage_Core_Model_Resource_Setup</class>
                </setup>
            </pyro_licenses_setup>
            <pyro_licenses_eav_setup>
                <setup>
                    <module>Pyro_Licenses</module>
                    <class>Mage_Eav_Model_Entity_Setup</class>
                </setup>
            </pyro_licenses_eav_setup>            
        </resources>
        <events>
            <sales_order_invoice_pay>
                <observers>
                    <pyro_licenses>
                        <class>pyro_licenses/observer</class>
                        <method>productLicenses</method>
                    </pyro_licenses>
                </observers>
            </sales_order_invoice_pay>
        </events>
        <template>
            <email>
                <licenses_order_tpl module="Pyro_Licenses">
                    <label>Ordered Licenses</label>
                    <file>licenses_order.html</file>
                    <type>html</type>
                </licenses_order_tpl>
            </email>
        </template>        
    </global>
    <frontend>
        <routers>
            <pyro_licenses>
                <use>standard</use>
                <args>
                    <module>Pyro_Licenses</module>
                    <frontName>pyro_licenses</frontName>
                </args>
            </pyro_licenses>
        </routers>
        <layout>
            <updates>
                <pyro_licenses module="Pyro_Licenses">
                    <file>pyro_licenses.xml</file>
                </pyro_licenses>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Pyro_Licenses before="Mage_Adminhtml">Pyro_Licenses_Adminhtml</Pyro_Licenses>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <pyro_licenses>
                    <file>pyro_licenses.xml</file>
                </pyro_licenses>
            </updates>
        </layout>
    </adminhtml>
</config>